@font-face {
    font-family: 'misterpixel';
    src:  url('./MisterPixelRegular.otf') format('truetype');
}
@font-face {
    font-family: 'alagard';
    src:  url('./Alagardplus.ttf') format('truetype');
}
@font-face {
    font-family: 'ubuntu';
    src:  url('./UbuntuTitling-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'jaini';
    src:  url('./Jaini.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins';
    src:  url('./Poppins-Variable.ttf') format('truetype');
}
@font-face {
    font-family: 'bonny';
    src:  url('./Bonny-Variable.ttf') format('truetype');
}
body {
    background-image: url("img/bg.png");
    background-color: #6991FB;
    background-position: top center;
    font-family: 'poppins';
    font-size: 48px;
    color: #1E070B;
    padding: 0;
    margin: 0;
}

.toWatch {
    background-color: #F7A9D4;
}

#fillguide{
    width: 760px;
    max-width: 90%;
    background-color: #B0C7FD;
    padding: 20px;
    border: solid 3px #253C90;
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-5deg);
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    display: none;
    animation-timing-function: ease-in-out;
    animation-name: slide-to-view;
    animation-duration: 1s;
}

@keyframes slide-to-view {
  from {top: 0%}
  to {top: 50%}
}

#closeguide{
    text-decoration: underline;
    color: #ffffff;
    font-size: 40px;
    margin-top: 20px;
    padding: 0 20px;
    cursor: pointer;
    display: inline-block;
}
#bottomtext{
    margin-top: 10px;
    font-size: 30px;
    opacity: 70%;
}
.speedbody{
    background-color: #FEE600;
}

.header{
    text-align: center;
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
}
a {
    color: #480C42;
}
a:active {
    color: #480C42;
}
a:hover {
    color: #A42291;
}
a:visited {
    color: #480C42;
}


.header > img{
    margin-left: -50px;
    margin-right: -50px;
    width: 700px;
    max-width: 95%;
    margin-top: 10px;
}

.content{
    width: 800px;
    max-width: 98%;
    margin: auto;
    text-align: center;
}
.bingo-text{
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: bonny;
    font-size: 52px;
    display: flex;
    justify-content: space-around;
}
input{
    font-family: poppins;
    font-size: 48px;
}
.button{
    display: inline-block;
    margin: 20px;
    padding: 20px 50px 20px 50px;
    border: 5px solid #4B8556;
    border-radius: 15px;
    background-color: #B6EAD2;
    user-select: none;
    cursor: pointer;
}

.disabled{
    border: 5px solid #4A2C0B;
    background-color: #BE6716;
    color: #4A2C0B;
    cursor: auto;
}

.cookiepolicy{
    font-size: 20px;
}

.board{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    justify-content: space-around;
}
.board-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.board-cell{
    background-color: #E9A330;
    position: relative;
    width: 20%;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
}
.unlocked{
    background: #B6EAD2;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #2A4B30;
}

.board-cell:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.cell{
    pointer-events: none;
    position: absolute;
    display: flex;
    align-items: center;
    width: 98%;
    height: 98%;
    margin: 1%;
    user-select: none;
    cursor: pointer;
    word-wrap: break-word;
}
.cell div, .hover div{
    pointer-events: none;
    padding-top: 2px;
    width: 100%;
    font-size: 17px;
    line-height: 0.9;
}
.hover {
    pointer-events: none;
    position: absolute;
    user-select: none;
    align-items: center;
    cursor: pointer;
    word-wrap: break-word;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 100;
    color: #1E070B;
}

.clicked{
    background-color: #E9A330;
    animation-name: hover_color;
    animation-duration: 2s;
}

.show_hover{
    background: #B0C7FD;
    color: #1E070B;
    text-shadow: 1px 1px #6991FB;
}
.show_hover > .hover{
    display: flex;
}
.show_hover > .cell{
    display: none;
}


@keyframes hover_color {
  from {background-color: #E16F4A;}
  to {background-color: #FEE600;}
}


.speed div{
    width: 100%;
    font-size: 56px;
    line-height: 56px;
}


@media only screen and (max-width: 800px) {

    .cell div, .hover div{
        font-size: 16px;
    }
    .speed div {
        font-size: 48px;
    }
}
@media only screen and (max-width: 700px) {

    .cell div, .hover div{
        font-size: 14px;
    }
    .speed div {
        font-size: 40px;
    }
}
@media only screen and (max-width: 640px) {

    .cell div, .hover div{
        font-size: 12px;
    }
    .speed div {
        font-size: 32px;
    }
}
@media only screen and (max-width: 560px) {

    .cell div, .hover div {
        font-size: 10px;
    }

    .speed div {
        font-size: 26px;
    }
}
@media only screen and (max-width: 480px) {

    .cell div, .hover div {
        font-size: 10px;
    }

    .speed div {
        font-size: 20px;
    }
}

@media only screen and (max-width: 400px) {

    .cell div, .hover div {
        font-size: 8px;
    }

    .speed div {
        font-size: 18px;
    }
}


